
/* Styling for new-tweet container */
.new-tweet {
  margin: auto 2em;
  padding: 10px;
  border: solid 1px grey;
  border-radius: 7px;
  background-color: #eeeeee;
}

.compose {
  border-bottom: 1px solid black;
}

textarea {
  width: 100%;
  padding: 5px;
}

.counter {
  margin-left: 275px;
}

.exceed-count {
  color: red;
}




